body {
    font-family: 'Roboto Slab', serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    color: white;
}

form table, form th, form td {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1rem;
}

form th {
    text-align: right;
}

input, textarea, select {
    font-family: inherit;
    font-size: 100%;
    width: 20rem;
}

.btn {
    all: unset;
    cursor: pointer;
    font-size: 100%;
    background-color: #483d8b;
    color: white;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    border-radius: 1rem;
}

.btn:hover, .btn:active {
    box-shadow: 0.25rem 0.25rem 0.5rem #483d8b66;
}